@import 'vars';

@mixin container {
  max-width: $container-max;
  margin: 0 auto;
  padding: 0 $container-padding;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($bp) {
  @media (max-width: $bp) {
    @content;
  }
}
